article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Demo Settings */
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background: lightskyblue;
}
img.post {
  display: block;
  margin: 15px auto 0;
  padding-bottom: 10px;
  max-width: 100%;
}
.contentCode {
  font-family: monospace, sans-serif;
  border-color: 3px solid #fff;
  padding: 20px;
  background-color: #E3E6E9;
  margin: 30px 160px;
}
p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
h1 {
  top: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
h2 {
  text-align: left;
  color: white;
  font-size: 35px;
  margin: 60px 150px;
  font-family: 'Lato', sans-serif;
}
h3 {
  text-align: center;
  font-size: 24px;
  margin: 25px 0 0 0;
  font-family: 'Lato', sans-serif;
}
h4 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 40px 150px 30px;
  font-family: 'Lato', sans-serif;
}
h5 {
  text-align: center;
  color: white;
  font-size: 35px;
  margin: 60px 150px;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  background: darkskyblue;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.top {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}
.mid {
  margin: 60px 170px;
}
#content {
  padding-top: 50px;
}
.img {
  width: 80px;
  height: 80px; 
}
.imgTop {
  width: 50px;
  height: 50px; 
}
::selection {
  background: skyblue;
}
::-moz-selection {
  background: skyblue;
}

/* Button Settings */
button {
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  padding: 14px 30px;
  background: none;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-left: 35px;
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
}
button:hover {
  border: 3px solid #fff;
  color: lightskyblue;
  background: #fff;
}

button:hover a {
  color: lightskyblue;
}

/* Plugin Settings */
ul.scroller {
  position: fixed;
  top: 0;
  right: 10px;
  list-style-type: none;
  padding: 0;
}
ul.speeds {
  padding-left: 0;
  display:none;
  list-style-type: none;
}
ul.scroller li {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-right: 10%;
}
ul.scroller li:hover {
  background: rgba(255,255,255,0.4);
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10%;
}
.scroller li {
  padding: 5px;
  color: black;
  position: relative;
}
.appear {
  display: block;
}
.posts {
  width: 50%;
  margin: 0 auto;
}

/*
The png's were made by: 
      https://thenounproject.com/catalarem/ - Rémy Médard
      https://thenounproject.com/pjsmits/ - Pieter J. Smits
*/


@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, a, p, code, ul, li, img, .mid, .contentCode, .img-post {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  li.scroll, li.slow, li.med, li.fast {
    top: 100%;
    left: 310px;
  }
  ul.scroller li:hover {
    background: none;
  }
  }
@media screen and (max-width: 568px) {
  h1, h2, h3, h4, h5, a, p, code, ul, li, img, .mid, .contentCode, .img-post {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  li.scroll, li.slow, li.med, li.fast {
    top: 100%;
    left: 220px;
  }
  ul.scroller li:hover {
    background: none;
  }
    }
@media screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, a, p, code, ul, li, img, .mid, .contentCode, .img-post {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  li.scroll, li.slow, li.med, li.fast {
    top: 100%;
    left: 170px;
  }
  ul.scroller li:hover {
    background: none;
  }
    }
@media screen and (max-width: 375px) {
  h1, h2, h3, h4, h5, a, p, code, ul, li, img, .mid, .contentCode, .img-post {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  li.scroll, li.slow, li.med, li.fast {
    top: 100%;
    left: 120px;
  }
  ul.scroller li:hover {
    background: none;
  }
 }
@media screen and (max-width: 320px) {
  h1, h2, h3, h4, h5, a, p, code, ul, li, img, .mid, .contentCode, .img-post {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  li.scroll, li.slow, li.med, li.fast {
    top: 100%;
    left: 100px;
  }
  ul.scroller li:hover {
    background: none;
  }
}
